.wrapper
  form
    h1 Material Inputs
    h5 Inspired by Google's Material Design guidelines for text fields
    .btn-box
      a.btn.btn-link(href="https://material.google.com/components/text-fields.html" target="_blank") Design Docs
    hr.sep
    .group
      input(type="text" required)
      span.highlight
      span.bar
      label Name
    .group
      input(type="text" required)
      span.highlight
      span.bar
      label Email
    .group
      input(type="password" required)
      span.highlight
      span.bar
      label Password
    .group
      input(type="number" required)
      span.highlight
      span.bar
      label Number
    .group
      textarea(type="textarea" rows="5" required)
      span.highlight
      span.bar
      label Message
    .btn-box
      button.btn.btn-submit(type="submit") submit
      button.btn.btn-cancel(type="button") cancel
      h5 *these buttons do nothing 
        span.emoji &#x1F609;